<?xml version="1.0" encoding="UTF-8"?>
<!--https://logging.apache.org/log4j/2.x/manual/configuration.html-->
<Configuration>
<!--    <Properties>-->
<!--        <Property name="LOG_PATTERN">-->
<!--            %d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %t - %m%n-->
<!--        </Property>-->
<!--    </Properties>-->
    <Appenders>
<!--        <File name="File" fileName="hostLogs2/${sys:logFileName:-/var/logs}/app.log">-->
<!--        <File name="File" fileName="hostLogs/host2Controller_%d{yyyyMMddHH}.log">-->
<!--        <File name="File" fileName="hostLogs/host2Controller_$${date:yyyyMMddHH}.log">-->
        <File name="File" fileName="hostLogs/host2Controller_${date:yyyyMMddHH}.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %t - %m%n</Pattern>
            </PatternLayout>
        </File>
<!--        <Console name="Console" target="SYSTEM_OUT">-->
<!--            <PatternLayout pattern="${LOG_PATTERN}"/>-->
<!--        </Console>-->
<!--        <Async name="Async">-->
<!--            <AppenderRef ref="AppendHostLogs"/>-->
<!--        </Async>-->
        <Console name="Console">
            <PatternLayout pattern="%m%n"/>
            <ThresholdFilter level="error"/>
        </Console>
    </Appenders>
    <Loggers>
<!--        <Logger name="hostLogger" level="info" additivity="false">-->
<!--            <AppenderRef ref="AppendHostLogs"/>-->
<!--        </Logger>-->
        <Root level="error">
<!--            <AppenderRef ref="AppendHostLogs"/>-->
            <AppenderRef ref="Console" level="debug"/>
        </Root>
    </Loggers>
</Configuration>